nav {
  background-color: rgba(230, 230, 230);
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  align-items: center;
  justify-content: space-evenly;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 32px;
  align-items: center;
  .operation-button {
    background-color: aquamarine;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 2px;
  }
}
